<% include partials/header.ejs%>
<div class = "my-3">
<h1 class ="text-center">Edit Comment</h1>	
</div>
<div class = "container mt-3 px-5" style = "width:30%;">
	<form method ="post" action = "/home/comment/<%=found._id%>?_method=PUT">
  <div class="form-group">
    <label for="exampleInputPassword1">Text</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value ="<%=found.text%>" name = "comment[text]">
  </div>
	
  <button type="submit" class="btn btn-primary ">Submit</button>
</form>
</div>






<% include partials/footer.ejs %>